In [1]:

import pandas as pd

In [2]:
data = {
    "Match 1": [45, 60, 20, 80, 55],
    "Match 2": [30, 50, 40, 90, 65],
    "Match 3": [70, 20, 35, 60, 40],
    "Match 4": [25, 45, 15, 100, 75],
}
players = ["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"]

In [8]:
play = ["Player 1", "Player 2", "Player 3", "Player 4", "Player 5"]
x = pd.DataFrame(data, index=play)

In [9]:
hd = x.head(3)
print("First three rows:",hd)

First three rows:           Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       45
Player 3       20       40       35       15

In [10]:
n_player, n_match = x.shape
print(f"players:{n_player}, matches:{n_match}")

players:5, matches:4

In [11]:
print("Matches:", x.columns.tolist())
print("Players:", x.index.tolist())

Matches: ['Match 1', 'Match 2', 'Match 3', 'Match 4']
Players: ['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5']

In [12]:
print("Data type of the elements\n",x.dtypes)

Data type of the elements
 Match 1    int64
Match 2    int64
Match 3    int64
Match 4    int64
dtype: object

In [13]:
print("missing values?\n",x.isnull().sum().sum())

missing values?
 0

In [14]:
print("Scores of Player 4 across all matches:\n",x.loc["Player 4"])

Scores of Player 4 across all matches:
 Match 1     80
Match 2     90
Match 3     60
Match 4    100
Name: Player 4, dtype: int64

In [15]:
print("Scores in Match 2:\n",x["Match 2"])

Scores in Match 2:
 Player 1    30
Player 2    50
Player 3    40
Player 4    90
Player 5    65
Name: Match 2, dtype: int64

In [17]:
print("\nScores of Player 1 and Player 3 for Match 1 and Match 4:")
print(x.loc[["Player 1", "Player 3"], ["Match 1", "Match 4"]])

Scores of Player 1 and Player 3 for Match 1 and Match 4:
          Match 1  Match 4
Player 1       45       25
Player 3       20       15

In [18]:
print("\n:Scores of the first 3 players and the first 2 matches:")
print(x.iloc[:3, :2])

:Scores of the first 3 players and the first 2 matches:
          Match 1  Match 2
Player 1       45       30
Player 2       60       50
Player 3       20       40

In [19]:
print("\nScore of Player 5 in Match 3:")
print(x.loc["Player 5", "Match 3"])

Score of Player 5 in Match 3:
40

In [20]:
x.loc["Player 2", "Match 4"] = 50
print("\nUpdated performance after changing Player 2's score in Match 4:")
print(x)

Updated performance after changing Player 2's score in Match 4:
          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75

In [21]:
x.loc["Player 6"] = [50, 40, 60, 70]
print("\nPerformance after adding Player 6:")
print(x)

Performance after adding Player 6:
          Match 1  Match 2  Match 3  Match 4
Player 1       45       30       70       25
Player 2       60       50       20       50
Player 3       20       40       35       15
Player 4       80       90       60      100
Player 5       55       65       40       75
Player 6       50       40       60       70

In [22]:
x = x + 10
print("\nPerformance after adding 10 bonus runs to each score:")
print(x)

Performance after adding 10 bonus runs to each score:
          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       30       50       45       25
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [23]:
x.loc["Player 3"] = x.loc["Player 3"] - 5
print("\nPerformance after deducting 5 runs from Player 3:")
print(x)

Performance after deducting 5 runs from Player 3:
          Match 1  Match 2  Match 3  Match 4
Player 1       55       40       80       35
Player 2       70       60       30       60
Player 3       25       45       40       20
Player 4       90      100       70      110
Player 5       65       75       50       85
Player 6       60       50       70       80

In [24]:
x["Total Runs"] = x.sum(axis=1)  # Total runs for each player across matches
print("\nTotal runs scored by each player:")
print(x["Total Runs"])

Total runs scored by each player:
Player 1    210
Player 2    220
Player 3    130
Player 4    370
Player 5    275
Player 6    260
Name: Total Runs, dtype: int64

In [25]:
total_runs_per_match = x.drop(columns="Total Runs").sum(axis=0)  # Total runs per match (excluding 'Total Runs' column)
print("\nTotal runs scored in each match:")
print(total_runs_per_match)

Total runs scored in each match:
Match 1    365
Match 2    370
Match 3    340
Match 4    390
dtype: int64

In [26]:
highest_total_runs_player = x["Total Runs"].idxmax()
print("\nPlayer with the highest total runs:")
print(highest_total_runs_player)

Player with the highest total runs:
Player 4

In [27]:
lowest_total_runs_match = total_runs_per_match.idxmin()  # Find the match with lowest total runs
print("\nMatch with the lowest total runs:")
print(lowest_total_runs_match)

Match with the lowest total runs:
Match 3

In [28]:
average_runs_per_player = x["Total Runs"] / 5
print("\nAverage runs scored by each player:")
print(average_runs_per_player)

Average runs scored by each player:
Player 1    42.0
Player 2    44.0
Player 3    26.0
Player 4    74.0
Player 5    55.0
Player 6    52.0
Name: Total Runs, dtype: float64

In [29]:
x_sorted = x.sort_values(by="Total Runs", ascending=False)
print("\nDataFrame sorted by Total Runs in descending order:")
print(x_sorted)

DataFrame sorted by Total Runs in descending order:
          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 4       90      100       70      110         370
Player 5       65       75       50       85         275
Player 6       60       50       70       80         260
Player 2       70       60       30       60         220
Player 1       55       40       80       35         210
Player 3       25       45       40       20         130

In [30]:
players_over_200_runs = x[x["Total Runs"] > 200]
print("\nPlayers who scored more than 200 runs:")
print(players_over_200_runs)

Players who scored more than 200 runs:
          Match 1  Match 2  Match 3  Match 4  Total Runs
Player 1       55       40       80       35         210
Player 2       70       60       30       60         220
Player 4       90      100       70      110         370
Player 5       65       75       50       85         275
Player 6       60       50       70       80         260